<a href="https://colab.research.google.com/github/DLuisMontufar3/1/blob/main/S2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [30]:
import pandas

In [31]:
filename = 'https://raw.githubusercontent.com/ivan-carrera/isi25b/refs/heads/main/data/supermarket.csv'

In [32]:
df = pandas.read_csv(filename)

In [33]:
print(df.head())

  ID_Transaccion                Fecha Sucursal ID_Comprador  ID_Producto  \
0           T044  2025-09-01 12:34:24   Centro         C061         3001
1           T044  2025-09-01 12:34:24   Centro         C061         6001
2           T044  2025-09-01 12:34:24   Centro         C061         1002
3           T044  2025-09-01 12:34:24   Centro         C061         1001
4           T097  2025-09-01 17:59:11      Sur         C061         6002

             Producto          Categoria  Precio_Unitario  Cantidad  \
0    Manzanas (libra)  Frutas y Verduras             0.85         3
1          Gaseosa 2L            Bebidas             2.50         5
2   Queso Fresco 500g            Lácteos             2.50         4
3     Leche Entera 1L            Lácteos             1.10         2
4  Jugo de Naranja 1L            Bebidas             1.75         5

   Valor_Total
0         2.55
1        12.50
2        10.00
3         2.20
4         8.75

In [34]:
print(df.iloc[100]['Fecha'])

2025-09-09 15:42:06

In [35]:
df_centro = df[df['Sucursal'] == 'Centro']
print("Total Centro:", df_centro['Valor_Total'].sum())

Total Centro: 328.20000000000005

In [36]:
df_norte = df[df['Sucursal'] == 'Norte']
print("Total Norte:", df_norte['Valor_Total'].sum())

Total Norte: 513.4000000000001

In [37]:
df_sur = df[df['Sucursal'] == 'Sur']
print("Total Sur:", df_sur['Valor_Total'].sum())

Total Sur: 426.20000000000005