In [27]:
import pandas as pd

In [28]:
import pandas as pd
import random
from datetime import datetime, timedelta

In [29]:
# Configuración
num_empleados = 50
departamentos = ["Ventas", "TI", "Recursos Humanos", "Finanzas", "Operaciones"]
cargos = ["Analista", "Gerente", "Asistente", "Especialista", "Director"]

# 1. Tabla: Empleados (Maestro)
empleados = []
for i in range(1, num_empleados + 1):
    id_emp = f"E{i:03d}"
    nombre = f"Empleado_{i}"
    depto = random.choice(departamentos)
    cargo = random.choice(cargos)
    salario = random.randint(800, 3500)
    fecha_ingreso = datetime(2018, 1, 1) + timedelta(days=random.randint(0, 2000))
    genero = random.choice(["M", "F"])
    empleados.append([id_emp, nombre, depto, cargo, salario, fecha_ingreso.strftime("%Y-%m-%d"), genero])

df_empleados = pd.DataFrame(empleados, columns=["ID_Empleado", "Nombre", "Departamento", "Cargo", "Salario_Mensual", "Fecha_Ingreso", "Genero"])

In [30]:
# 2. Tabla: Evaluaciones de Desempeño (Hechos - Anual)
# Asumimos la evaluación del último año
evaluaciones = []
for emp in empleados:
    id_emp = emp[0]
    # Score 1 to 5
    score = random.choices([1, 2, 3, 4, 5], weights=[5, 10, 40, 35, 10])[0] # Weighted towards 3 and 4
    fecha_eval = "2023-12-15"
    evaluaciones.append([id_emp, fecha_eval, score])

df_evaluaciones = pd.DataFrame(evaluaciones, columns=["ID_Empleado", "Fecha_Evaluacion", "Puntaje_Desempeno"])

# 3. Tabla: Registro de Asistencia (Hechos - Mensual Resumido)
# Datos de los últimos 3 meses para cada empleado
asistencia = []
meses = ["2024-01", "2024-02", "2024-03"]

In [31]:
for emp in empleados:
    id_emp = emp[0]
    for mes in meses:
        dias_ausente = random.choices([0, 1, 2, 3], weights=[70, 15, 10, 5])[0]
        horas_extra = random.randint(0, 10)
        asistencia.append([id_emp, mes, dias_ausente, horas_extra])

In [32]:


df_asistencia = pd.DataFrame(asistencia, columns=["ID_Empleado", "Mes", "Dias_Ausente", "Horas_Extra"])

In [35]:
df_empleados.to_csv("HR_Empleados.csv", index=False)
df_evaluaciones.to_csv("HR_Evaluaciones.csv", index=False)
df_asistencia.to_csv("HR_Asistencia.csv", index=False)

In [37]:
print(df_empleados.head().to_string(index=False))
print(df_evaluaciones.head().to_string(index=False))
print(df_asistencia.head().to_string(index=False))

ID_Empleado     Nombre     Departamento        Cargo  Salario_Mensual Fecha_Ingreso Genero
       E001 Empleado_1               TI Especialista             2722    2022-08-15      M
       E002 Empleado_2               TI     Director             1352    2022-12-08      F
       E003 Empleado_3 Recursos Humanos     Analista              863    2021-03-12      F
       E004 Empleado_4           Ventas      Gerente             1371    2019-12-03      M
       E005 Empleado_5           Ventas Especialista             2795    2023-04-30      M
ID_Empleado Fecha_Evaluacion  Puntaje_Desempeno
       E001       2023-12-15                  4
       E002       2023-12-15                  5
       E003       2023-12-15                  3
       E004       2023-12-15                  4
       E005       2023-12-15                  3
ID_Empleado     Mes  Dias_Ausente  Horas_Extra
       E001 2024-01             0            8
       E001 2024-02             0            3
       E001 2024-03             0            3
       E002 2024-01             0            9
       E002 2024-02             0           10

In [38]:
import pandas as pd

df_empleados = pd.read_csv("HR_Empleados.csv")
df_evaluaciones = pd.read_csv("HR_Evaluaciones.csv")
df_asistencia = pd.read_csv("HR_Asistencia.csv")

In [39]:
df_final = df_empleados.merge(df_evaluaciones, on="ID_Empleado", how="left")

In [40]:
print(df_final.head())

  ID_Empleado      Nombre      Departamento         Cargo  Salario_Mensual  \
0        E001  Empleado_1                TI  Especialista             2722
1        E002  Empleado_2                TI      Director             1352
2        E003  Empleado_3  Recursos Humanos      Analista              863
3        E004  Empleado_4            Ventas       Gerente             1371
4        E005  Empleado_5            Ventas  Especialista             2795

  Fecha_Ingreso Genero Fecha_Evaluacion  Puntaje_Desempeno
0    2022-08-15      M       2023-12-15                  4
1    2022-12-08      F       2023-12-15                  5
2    2021-03-12      F       2023-12-15                  3
3    2019-12-03      M       2023-12-15                  4
4    2023-04-30      M       2023-12-15                  3

In [42]:
df_final = df_empleados.merge(df_evaluaciones, on="ID_Empleado", how="left")
df_final = df_final.merge(df_asistencia, on="ID_Empleado", how="left")

In [43]:
print(df_final.head())

  ID_Empleado      Nombre Departamento         Cargo  Salario_Mensual  \
0        E001  Empleado_1           TI  Especialista             2722
1        E001  Empleado_1           TI  Especialista             2722
2        E001  Empleado_1           TI  Especialista             2722
3        E002  Empleado_2           TI      Director             1352
4        E002  Empleado_2           TI      Director             1352

  Fecha_Ingreso Genero Fecha_Evaluacion  Puntaje_Desempeno      Mes  \
0    2022-08-15      M       2023-12-15                  4  2024-01
1    2022-08-15      M       2023-12-15                  4  2024-02
2    2022-08-15      M       2023-12-15                  4  2024-03
3    2022-12-08      F       2023-12-15                  5  2024-01
4    2022-12-08      F       2023-12-15                  5  2024-02

   Dias_Ausente  Horas_Extra
0             0            8
1             0            3
2             0            3
3             0            9
4             0           10

In [45]:
df_asistencia_resumen = df_asistencia.groupby("ID_Empleado")["Dias_Ausente"].mean().reset_index()